/* Source file: https://raw.githubusercontent.com/apeatling/web-pull-to-refresh/master/base.css */

.ptr-element {
	position: absolute;
	top: 24px;
	left: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
	height: 50px;
	color: #333;
}

.ptr-element .arrowicon {
	font-size: 1.5rem;
	opacity: .6;
	transition: all .25s ease;
	margin-top: 5px;
}

.ptr-refresh .ptr-element .arrowicon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.ptr-loading .ptr-element .arrowicon,
.ptr-reset .ptr-element .arrowicon {
	display: none;
}

.loading {
	display: inline-block;
	text-align: center;
	opacity: .4;
	margin: 12px 0 0 5px;
	display: none;
}

.ptr-loading .loading {
	display: block;
}

.loading span {
	display: inline-block;
  vertical-align: middle;
  background: #333;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
	border-radius: 50%;
	-webkit-animation: ptr-loading 0.4s infinite alternate;
	animation: ptr-loading 0.4s infinite alternate;
}

@-webkit-keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: #fff;
		opacity: 1;
	}
}

@keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: #fff;
		opacity: 1;
	}
}

.refresh-view {
	position: relative;
	z-index: 20;
	background: #fafafa;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	box-sizing: border-box;
	padding: 24px;
	padding-right: 0;
}

.ptr-loading .refresh-view, .ptr-reset .refresh-view,
.ptr-loading .ptr-element, .ptr-reset .ptr-element {
	transition: all .25s ease;
}

.ptr-reset .refresh-view {
	-webkit-transform: translate3d( 0, 0, 0 );
	transform: translate3d( 0, 0, 0 );
}

.ptr-loading .refresh-view {
	-webkit-transform: translate3d( 0, 50px, 0 );
	transform: translate3d( 0, 50px, 0 );
}
